// src/css/quasar.variables.scss
// src/css/quasar.variables.scss

$primary   : #94bae0;
$secondary : #838f8e;
$accent    : #c499cc;

$dark      : #d6d2d2;

$positive  : #77d98e;
$negative  : #f06575;
$info      : #9bddeb;
$warning   : #ffe08c;